/* @override http://localhost/~dillon/bootstrap-test/css/main.css */

table .btn{
!  padding: 1px 5px 1px;
	padding: 1px 6px;
}

.trial-block{
	position: relative;
	margin: 15px 0;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
            border-radius: 15px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.badge-large {
	font-size: 25px;
	line-height: 1;
	-webkit-border-radius: 14px;
	   -moz-border-radius: 14px;
            border-radius: 14px;
}

body {
	padding-top:60px;
	background-color: #f9fff7;
}

.trial-block-buttons {
	margin-top: 4px;
}
.trial-block p{
	padding-left: 8px;
	color: #404040;
}
.trial-block p.lead {
	background-color: #a8cb9d;
	color: #fff;
}

.trial-block div.span3, .trial-block div.span9{
	background-color: #efffea;
-webkit-border-top-left-radius: 8px;
-webkit-border-top-right-radius: 8px;
-moz-border-radius-topleft: 8px;
-moz-border-radius-topright: 8px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
	overflow: hidden;
}

.text-center {
	text-align: center;
}


.nav-stacked li{
	background-color: #fff;
}

a {
  color: #229300;
  text-decoration: none;
}
a:hover {
  color: #1b7600;
  text-decoration: underline;
}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(77, 151, 52, 0.4);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
!	color: #4d9734;

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(159,227,136,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(159,227,136,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(159,227,136,.6);
}

ul.nav.nav-tabs.nav-stacked {
	margin-top: 100px;
}