<html lang="en" data-framework="angularjs" ng-app="demo">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Angoose • Demo</title>
		<link rel="stylesheet" href="http://todomvc.com/architecture-examples/angularjs/bower_components/todomvc-common/base.css">
		<link rel="stylesheet" href="/css/main.css" type="text/css">
		<link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
		<link rel="stylesheet" href="/css/font-awesome.css" type="text/css">
		
		<link rel="stylesheet" href="/css/select2.css" type="text/css"> 
		<link rel="stylesheet" href="/css/main.css" type="text/css"> 
		<link rel="stylesheet" href="/css/redactor/redactor.css" type="text/css">
		<link rel="stylesheet" href="/lib/datepicker/css/datepicker-inline.css" type="text/css">
		<link rel="stylesheet" href="/lib/timepicker/css/bootstrap-timepicker-inline.css">
		
		<style>
			div[ng-cloak] { display: none; }
		</style>
	</head>
	<body  style="margin:10px 200px ">
		<!-- navigation bar -->
		<div id="nav-content" class="navbar navbar-fixed-top no-print" >
			<div ng-include="'/templates/navbar.tpl'"></div>
		</div>
	
		<!-- Bootstrap Alert -->
		<div id="alerts" class="container" ng-if="alerts.length>0"  ng-cloak>
			<alert ng-repeat="alert in alerts" type="alert.type" close="removeAlert($index)" >  
					{{alert.msg}} <span ng-if="alert.count > 1">({{ alert.count }} more like this)</span>
			</alert>
		</div>
		
		<!-- Main body -->
		<ng-view></ng-view>
		
		<!-- External dependencies -->
		<script src="/lib/jquery-1.10.2.min.js"></script>
		<script src="/lib/angular.js"></script>
		<script src="/lib/angular-route.js"></script>
		<script src="/lib/ui-bootstrap-tpls-0.6.0.js"></script>
		<script src="/lib/select2.js"></script>
		<script src="/lib/select2-angular.js"></script>
		<script src="/lib/bootstrap/bootstrap-datepicker-inline.js"></script>
		<script src="/lib/bootstrap/bootstrap-timepicker-inline.js"></script>
	

		<!-- Angoose client -->
		<script src="/angoose/angoose-client.js"></script>
		<!-- main app -->
		<script src="/demo-app.js"></script>
		<script src="/controllers/todo.js"></script>
		
		
	</body>
</html>